include variables.pug
nav.content-navigation
    span#close-btn.icon-close X
    a(href="unresponsive_drive.html", target="_blank") #{articulos[0]}
    a(href="unreadable_sectors.html", target="_blank") #{articulos[1]} 
    a(href="drive_media_errors.html", target="_blank") #{articulos[2]}
    a(href="drive_by_passed.html", target="_blank") #{articulos[3]}
    a(href="impending_drive_failure.html", target="_blank") #{articulos[4]}
    a(href="check_conditions.html", target="_blank") #{articulos[5]}
    a(href="isolation_of_drive.html", target="_blank") #{articulos[6]}
    a(href="degraded_drawer.html", target="_blank") #{articulos[7]}
    a(href="degraded_sas_port.html", target="_blank") #{articulos[8]}
    a(href="nominal_temperature_exceeded.html", target="_blank") #{articulos[9]}
    a(href="degraded_sas_port.html", target="_blank") #{articulos[10]}
    a(href="power_supply_failure.html", target="_blank") #{articulos[11]}
    a(href="fibre_channel_link_errors.html", target="_blank") #{articulos[12]}
    a(href="write_back_cache.html", target="_blank") #{articulos[13]}
    a(href="amber_light_with_no_aparent_reason.html", target="_blank") #{articulos[14]}
    a(href="no_access_to_santricity_web.html", target="_blank") #{articulos[15]}
    a(href="resetting_admin_password.html", target="_blank") #{articulos[16]}
    a(href="autosupport_issues.html", target="_blank") #{articulos[17]}
    a(href="volume_failure.html", target="_blank") #{articulos[18]}
    a(href="persistent_cache_backup_end_of_life.html", target="_blank") #{articulos[19]}
    a(href="cache_backup_failed.html", target="_blank") #{articulos[20]}
    a(href="lb_host_redundancy_lost.html", target="_blank") #{articulos[21]}
